---
import { ViewTransitions } from 'astro:transitions'


interface Props {
    pageTitle?: string
    pageDescription?: string
    pageImg?: string
}

const {pageTitle, pageDescription, pageImg} = Astro.props
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="shortcut icon" href="./img/icon.webp" type="icon.webp">
    <meta name="description" content={pageDescription}>
    <title>TechStation | {pageTitle}</title>
    <!-- OPEN GRAPH -->
    <meta property="og:image" content={pageImg} />
    <meta
        property="og:title"
        content={pageTitle}
    />
    <meta
        property="og:description"
        content={pageDescription}
    />
    <ViewTransitions/>
</head>
<nav class="navegacion">
    <div>
        <img class="logo" src='img/icon.webp' height="40" alt="logo">
        <p>TechStation</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="servicios">Servicios</a></li>
        <li><a href="catalogo">Catálogo</a></li>
        <li><a href="/">Acerca de</a></li>
    </ul>
</nav>
<body>
    <slot/>
</body>
</html>